################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SeamstressBlender/SeamstressAssets/SeamstressMain1.blend
/SeamstressBlender/SeamstressAssets/SeamstressMain1.blend1
